body{
    position: relative;
    min-height: 100vh;
}

.box {
height: 400px;
    width: 400px;
    background-color: green;
    animation: my-animation 3s ease-in-out 1s infinite alternate both;
    position: absolute;
    top: 0;
    left: 0;
}




.box:hover {
    background-color: gold;
    width: 400px;
    height: 400px;
}

@keyframes my-animation {
    from {
        background-color: aqua;
        top: 0;
    }

    to {
      top: 50%;
    }
}