.box {
height: 400px;
    width: 400px;
    background-color: green;
    animation: my-animation 3s ease-in-out 1s 3 alternate both;
}

/*.box:hover {*/
/*    background-color: gold;*/
/*    width: 400px;*/
/*    height: 400px;*/
/*}*/

@keyframes my-animation {
    from {
        background-color: aqua;
    }

    50% {
        background-color: blue;
    }

    70% {
        background-color: blue;
    }

    71% {
        background-color: blueviolet;
    }

    to {
        border-radius: 50%;
        background-color: blueviolet;
    }
}